/*  Generally I want to define the box sizes, not the content 
    so I have better control over the layout.
    That means that the size of the box includes the border width and the padding
    (but not the margin)
*/
* {
    box-sizing: border-box;
   
    
}

html {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    background-color: azure;
}

body {
    
    max-width: 30rem;
    margin-inline: auto;
    background-color: lavenderblush;
    padding: 1rem;
}

header {
    background-color: cornsilk;
    margin-block-end: 2rem;
    outline: 1px solid red;
}

main {
    
    outline: 1px solid blue;
}

footer {
    margin-block-start: 2rem;
    outline: 1px solid green;
}

section {
    background-color:palegreen;
}

form {
    font: inherit;
}

label {

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.6rem 1rem;
    margin-block: 0.4rem;

    border: 1px solid burlywood;
    border-radius: 0.5rem;
}

input {
    font: inherit;
}

button {
    font: inherit;
}

fieldset {
    font: inherit;
}

legend {
    font: inherit;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    background-color:chartreuse;
}

p {
    
}



