/*  Generally I want to define the box sizes, not the content 
    so I have better control over the layout.
    That means that the size of the box includes the border width and the padding
    (but not the margin)
*/
* {
    box-sizing: border-box;
    border-width: 1px;
}

body {
    font: inherit;
}

header {
    font: inherit;
}

main {
    font: inherit;
}

footer {
    font: inherit;
}

section {
    font: inherit;
}

form {
    font: inherit;
}

label {
    font: inherit;
}

input {
    font: inherit;
}

button {
    font: inherit;
}

fieldset {
    font: inherit;
}

legend {
    font: inherit;
}

h1 {
    font: inherit;
}

p {
    font: inherit;
}


button,
input,
select,
textarea {
    font: inherit;
}

button {
    padding: 2px;
    padding-left:5px;
    padding-right: 5px;
    
}

.mode-selection {
       display: inline-flex;
       gap: 1rem;
}


.m-answer-form {
    display: flex;
    flex-direction: column;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.5rem;
}

