/*  Generally I want to define the box sizes, not the content 
    so I have better control over the layout.
    That means that the size of the box includes the border width and the padding
    (but not the margin)
*/
* {
    box-sizing: border-box;
    border-width: 1px;
}

body {
    font: inherit;
}

header {
    font: inherit;
}

main {
    font: inherit;
}

footer {
    font: inherit;
}

section {
    font: inherit;
}

form {
    font: inherit;
}

label {
    font: inherit;
}

input {
    font: inherit;
}

button {
    font: inherit;
}

fieldset {
    font: inherit;
}

legend {
    font: inherit;
}

h1 {
    font: inherit;
}

p {
    font: inherit;
}



