
/*
setting a default font style.
 Also, a colour for the screen outside my actual page, 
 as I want to control the "work area" properly, and not use all avilable width as 
 I don't have so much content. 
This defines my actual content area
rem uses a size relative to the font size (set in html)
max-width means that the pane cannot be wider, but it can be smaller if the windwo is smaller. 
margin-inline: auto means: Inline refers to left/right for normal pages as that is the main inline direction
(vs. block, which usually means top/bottom as it is vertical to the inline direction. )
The auto means that any available additional space is used equally on both sides. If ensures my content is centered on the page.
*/
body {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    background-color: #f0f0f0;
}

/* default = mobile and small screens */

#app-background-panel {
    /* no card styling by default */
}

/* don't display search keywords for image */
#image-info {
    display: none;
}

/* better look on desktops by adding image backgrounds which requires this background */ 
@media (min-width: 992px) {
    #app-background-panel {
        width: fit-content;
        margin: 2rem auto;
        padding: 1rem;
        /* keep a bit of transarency for the image */
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border-radius: 0.75rem;
        max-width: 72rem;
    }

    /* use a combined selector: only apply when the "visible" class is present (added by JS) */
    #image-info.visible {
        display: block;
        position: fixed;
        /* put the text in the bottom right */
        right: 1rem;
        bottom: 1rem;
        padding: 0.25rem 0.5rem;
        color: white;
        font-size: 0.75rem;
    }
}

/*
block is the dirction vertical to inline, which by default is left to right. So this is a margin at the bottom.
*/
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkred;
}

h1 {
    color: floralwhite;
}

small {
    color: #b0b0b0;
}

.container {
    max-width: 30rem;

}

.learning-content {
    font-family: Arial, Helvetica, sans-serif;
}

#feedback-area {
    min-height: 4rem;
}

/* change the cursor style on radio buttons */
/* I think Boostrap does that already, but just to demonstrate how this syntax works */
input[type="radio"] {
    cursor: pointer;
}

/* don't allow a cursor when the elemnt is diabsled */
/* I think Boostrap does that already, or even standard behaviour, but just to demonstrate how it works */
input:disabled {
    cursor: not-allowed;
}